@using PhoneMarket.Helpers;
@using PhoneMarket.Models;

@model IEnumerable<Phone>
@{
    ViewBag.Title = "Home Page";
}

<div>

    <form action="Index" method="post">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">Filter</h5>

                <div class="input-group">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="Sys" value="android">
                            <span>android</span>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="Sys" value="ios">
                            <span>ios</span>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="Stor" value="128">
                            <span>128</span>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="Stor" value="64">
                            <span>64</span>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" name="Stor" value="32">
                            <span>32</span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input name="MinPrice" type="number" class="form-control">

                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input name="MaxPrice" type="number" class="form-control">
                </div>

                <input type="submit" class="btn btn-success" />
            </div>
        </div>
    </form>

    @Html.CreatePhonesList(Model)

</div>